body {
  width: 100%;
}

#app {
  box-sizing: border-box;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: white;
  opacity: 1;
}

#title {
  font-size: 3em;
  font-weight: 800;
  padding: 0.3em;
  border-bottom: 1px solid black;
}

#navigation {
  height: 9vh;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 5px;
  border: 6px solid transparent;
  background-clip: content-box;
}

.CodeMirror {
  width: 100%;
  max-height: 91vh;
  margin: 0em;
  overflow-y: auto;
}

#outputText {
  resize: none;
  min-height: 100%;
}

.drag-container {
  display: flex;
  min-height: 91vh;
  max-height: 91vh;
}

[class^="panel"] {
  padding: 25px 15px;
  background-color: ghostwhite;
}

.panel-left {
  color: black;
}

.panel-right {
}

.dragbar {
  padding: 3px;
  cursor: col-resize;
  background-color: silver;
}
